.navbar.wrapper {
    padding-bottom: 4.5rem;
}

.navbar-nav li {
    padding: 0 18px;
}

.nav-item{
    margin: 0% -180% 0% 180%;
}

.navbar a {
    font-family: 'Montserrat-Light', sans-serif;
}

.navbar-brand.specified {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#title {
    background-color: #ff3c68;
    color: #fff;
    align-content: end;
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin: 10px 100px;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
.press-image{
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}